appdirs==1.4.4
attrs==20.1.0
backcall==0.2.0
CacheControl==0.12.6
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
coloredlogs==14.0
cycler==0.10.0
Cython==0.29.21
cyvcf2==0.20.4
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
hdmedians==0.13
humanfriendly==8.2
idna==2.10
iniconfig==1.0.1
jedi==0.17.2
joblib==0.16.0
kiwisolver==1.2.0
llvmlite==0.34.0
lockfile==0.12.2
matplotlib==3.3.1
more-itertools==8.4.0
msgpack==1.0.0
natsort==7.0.1
numba==0.51.0
numpy==1.19.1
packaging==20.4
pandas==1.1.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pluggy==0.13.1
prompt-toolkit==3.0.6
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-bio==0.5.6
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sparse==0.11.0
threadpoolctl==2.1.0
toml==0.10.1
tox==3.19.0
traitlets==4.3.3
urllib3==1.25.10
virtualenv==20.0.31
wcwidth==0.2.5
